<div class="container mt-5">
<%= render "layouts/header" %>
  <%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card text-center">
        <div class="card-header">
          新規登録
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="field">
              <%= f.label :名前 %><br>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 桁以上)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :もう一度入力してください %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="actions mt-3">
              <%= f.submit "登録", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>