<div class="container mt-5">
<%= form_with model: @user, url: users_mypage_path, method: :patch do |f| %>
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <%= render "layouts/sideber", tag_lists: @tag_lists %>
    </div>
    <div class="col-lg-8 mt-5 offset-lg-1">
      <%= render 'layouts/flash_message' %>
      <%= render 'layouts/error', obj: @user %>
      <h2 class="text-center text-secondary">登録情報編集</h2>
      <div class="card text-center">
        <div class="card-body bg-light">
          <div class="form-group text-secondary">
            <div class="field mb-3">
              <%= f.label :名前 %>(2文字以上20文字以内)<br>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
            <div class="field mb-3">
              <%= f.label :画像 %><br>
              <%= f.file_field :profile_image %>
            </div>
            <div class="field mb-3">
              <%= f.label :メールアドレス %><br>
              <%= f.text_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="field mb-3">
              <%= f.submit "保存", class: "btn btn-primary" %>
              <%= link_to "退会する", users_mypage_confirm_path, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>