<div class="container mt-5">
<%= render 'layouts/header' %>
  <div class="row justify-content-center mt-3">
    <div class="col-8">
      <h3 class="text-center">
        New
      </h3>
      <%= render 'posts/a_post', post: @post, tags: @tags, comment: @post_comment, comments: @post_comments %>
      <h3 class="text-center mt-3">
        投稿数の前日比・前週比
      </h3>
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th>今日のメモ</th>
              <th>昨日のメモ</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @today_comment.count %></td>
              <td><%= @yesterday_comment.count %></td>
            <% if @yesterday_comment.count == 0 %>
              <td>前日のメモはなし</td>
            <% else %>
              <td>
                <% @the_day_before =  @today_comment.count / @yesterday_comment.count %>
                <%= (@the_day_before * 100).round %>%
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週のメモ数</th>
              <th>先週のメモ数</th>
              <th>先週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_comment.count %></td>
              <td><%= @last_week_commnet.count %></td>
            <% if @last_week_commnet.count == 0 %>
              <td>先週のメモはなし</td>
            <% else %>
              <td>
                <% @the_week_before =  @this_week_comment.count / @last_week_commnet.count %>
                <%= (@the_week_before * 100).round %>%
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
      <h4 class="taxt-center">7日間分のメモ数</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>6日前</th>
              <th>5日前</th>
              <th>4日前</th>
              <th>3日前</th>
              <th>2日前</th>
              <th>昨日</th>
              <th>今日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @post_comments.created_6days_ago.count %></td>
              <td><%= @post_comments.created_5days_ago.count %></td>
              <td><%= @post_comments.created_4days_ago.count %></td>
              <td><%= @post_comments.created_3days_ago.count %></td>
              <td><%= @post_comments.created_2days_ago.count %></td>
              <td><%= @yesterday_comment.count %></td>
              <td><%= @today_comment.count %></td>
            </tr>
          </tbody>
        </table>
      <div id="graph">
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        var ctx = document.getElementById('myChart');
        var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['6日前','5日前','4日前','3日前','2日前','昨日','今日'],
            datasets: [{
                label: 'メモ数',
                data: [
                  <%= @post_comments.created_6days_ago.count %>,
                  <%= @post_comments.created_5days_ago.count %>,
                  <%= @post_comments.created_4days_ago.count %>,
                  <%= @post_comments.created_3days_ago.count %>,
                  <%= @post_comments.created_2days_ago.count %>,
                  <%= @yesterday_comment.count %>,
                  <%= @today_comment.count %>],
                backgroundColor: "rgba(0,0,0,0)",
                borderColor: "rgba(0,0,255,1)",
                lineTension: 0.3,
                borderWidth: 3
            }]
        },
        options: {
            title: {
                display: true,
                text: '7日間のメモ数'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMax: 30,
                        suggestedMin: 0,
                        stepsize: 5,
                    },
                }]
            }
        }
        });
        </script>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render 'layouts/sideber' %>
    </div>
  </div>
</div>

