<div class="container mt-5">
<%= render "layouts/header" %>
  <%= form_with model: @user, url: user_session_path do |f| %>
  <div class="row">
    <div class="col-6 offset-3">
      <%= render 'layouts/flash_message' %>
      <div class="card text-center">
        <div class="card-header">
          ログイン
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
            <div class="actions mt-3">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
            <div class="btn">
              <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>