<% obj.each do |result| %>
<div class="post-item-list text-secondary">
  <div class="post-item">
    <div class="post-image">
      <% result.post_images.first(1).each do |post_image| %>
        <%= image_tag post_image, size: "160x160" %>
      <% end %>
      <% unless result.post_images.attached? %>
        <%= image_tag 'no_image_yoko.jpg', size: "160x160" %>
      <% end %>
    </div>
    <section class="post-text">
      <p class="post-title">
        <%= link_to result.title, post_path(result), class: "text-secondary" %>
      </p>
      <p class="post-body">
        <%= result.body %>
      </p>
      <% result.tags.first(3).each do |tag| %>
      <p class="post-tags">
        <i class="fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id), class: "text-secondary" %>
        <%= "(#{tag.posts.where(user_id: current_user.id).count})" %>
      </p>
      <% end %>
      <p class="post-date">
        <%= result.start_time.strftime('%Y-%m-%d %H:%M') %>
      </p>
    </section>
  </div>
</div>
<% end %>
<div class="paginate text-center">
  <%= paginate obj %>
</div>