
<div class="card text-center">
  <div class="card-header">
    <div class="field mb-3">
      <%= post.date %>
      <%= link_to "編集", edit_post_path(post), class: "btn btn-primary" %>
    </div>
    <div class="field mb-3">
      <%= post.title %>
    </div>
  </div>
  <div class="card-body">
    <div class="swiper">
      <div class="swiper-wrapper">
        <% post.post_images.each do |post_image| %>
          <%= image_tag post_image, class: "swiper-slide" %>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <% unless post.post_images.attached? %>
      <div class="field mb-3">
        <%= image_tag 'no_image_yoko.jpg', size: "300x300" %>
      </div>
    <% end %>
    <div class="field mb-3">
      <%= post.body %>
    </div>
    <% post_tags.each do |tag| %>
    <div class="field mb-3">
      <i class="fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
    </div>
    <% end %>
    <div id="comment_count" class="mb-3">
      <%= render 'post_comments/count', post: post %>
    </div>
    <div id="comment_message">
      <%= render 'layouts/flash_message' %>
    </div>
    <div id="comment_error" class="mb-3">
    </div>
    <div id="comment_index" class="mb-3">
      <%= render 'post_comments/index', post: post %>
    </div>
  </div>
  <script>
    const swiper = new Swiper('.swiper', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</div>