
<div class="card text-center">
  <div class="card-header">
    <div class="field mb-3">
      <%= link_to "編集", edit_post_path(post), class: "btn btn-primary" %>
      <h3><%= post.date %></h3>
    </div>
    <div class="field mb-3">
      <h2><%= post.title %></h2>
    </div>
  </div>
  <div class="card-body">
    <div class="swiper">
      <div class="swiper-wrapper">
        <% post.post_images.each do |post_image| %>
          <%= image_tag post_image, class: "swiper-slide" %>
        <% end %>
        <% unless post.post_images.attached? %>
          <%= image_tag 'no_image_yoko.jpg', size: "300x300" %>
        <% end %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="field my-5">
      <h4><%= post.body %></h4>
    </div>
    <% post_tags.each do |tag| %>
    <div class="field mb-3">
      <i class="fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id), class: "text-secondary" %>
        <%= "(#{tag.posts.count})" %>
    </div>
    <% end %>
    <div id="comment_count" class="mb-3">
      <%= render 'post_comments/count', post: post %>
    </div>
    <div id="comment_error" class="mb-3">
    </div>
    <div id="comment_form" class="mb-3">
      <%= render 'post_comments/form', post: post, post_comment: post_comment %>
    </div>
    <div id="comment_index" class="mb-3">
      <%= render 'post_comments/index', post: post %>
    </div>
  </div>
  <script>
    var swiper = new Swiper('.swiper', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</div>