
<div class="card text-center">
  <div class="card-header">
    <div class="field mb-3">
      <%= post.date %>
      <%= link_to "編集", edit_post_path(post), class: "btn btn-primary" %>
    </div>
    <div class="field mb-3">
      <%= post.title %>
    </div>
  </div>
  <div class="card-body">
    <% post.post_images.each do |post_image| %>
    <div class="field mb-3">
      <%= image_tag post_image, size: "300x300" %>
    </div>
    <% end %>
    <% unless post.post_images.attached? %>
      <div class="field mb-3">
        <%= image_tag 'no_image_yoko.jpg', size: "300x300" %>
      </div>
    <% end %>
    <div class="field mb-3">
      <%= post.body %>
    </div>
    <% post_tags.each do |tag| %>
    <div class="field mb-3">
      <i class="fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
    </div>
    <% end %>
    <div id="comment_count" class="mb-3">
      <%= render 'post_comments/count', post: post %>
    </div>
    <div id="comment_form" class="mb-3">
      <%= render 'post_comments/form', post: post, post_comment: post_comment %>
    </div>
    <div id="comment_index" class="mb-3">
      <%= render 'post_comments/index', post: post %>
    </div>
  </div>
</div>