<%= render 'layouts/header' %>
<div class="container">
<%= form_with model: @post do |f| %>
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :日付 %></th>
          <td><%= f.date_field :date %></td>
        </tr>
        <tr>
          <th><%= f.label :タイトル %></th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :画像 %></th>
          <td><%= f.file_field :image, multiple: true %></td>
        </tr>
        <tr>
          <th><%= f.label :本文 %></th>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <th><%= f.label :タグ %></th>
          <td><%= f.text_field :tag_name %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "保存" %></td>
          <td><%= link_to "削除", post_path(@post), method: :delete %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
</div>