<%= render 'layouts/header' %>
<div class="container">
<% @posts.each do |post| %>
  <div class="row">
    <div class="col-9 text-center mt-5">
      <%= post.date %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= post.title %>
    </div>
    <div class="col-9 text-center mt-3">
      <% if post.image.attached? %>
        <% post.image.each do |image| %>
          <%= image_tag image, size: "500x300" %>
        <% end %>
      <% else %>
        <%= image_tag 'no_image_yoko.jpg', size: "500x300" %>
      <% end %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= post.body %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= post.tags %>
    </div>
  </div>
<% end %>
</div>