<div class="container">
<%= render 'layouts/header' %>
<%= form_with model: Post.new do |f| %>
  <div class="row">
    <div class="col-9 text-center mt-5">
      <%= f.label :日付 %>
      <%= f.date_field :date %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= f.label :タイトル %>
      <%= f.text_field :title %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= f.label :画像 %>
      <%= f.file_field :image, multiple: true %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= f.label :本文 %>
      <%= f.text_area :body %>
    </div>
    <div class="col-9 text-center mt-3">
      <%= f.submit '投稿' %>
    </div>
  </div>
<% end %>
</div>