<div class="container mt-5">
<%= render 'layouts/header' %>
<%= form_with model: Post.new do |f| %>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <div class="form-group">
            <div class="date-field">
              <%= f.label :日付 %><br>
              <%= f.date_field :date, autofocus: true, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="form-group">
              <div class="field mb-3">
                <%= f.label :タイトル %><br>
                <%= f.text_field :title, autofocus: true, class: "form-control" %>
              </div>
              <div class="field mb-3">
                <%= f.label :画像 %><br>
                <%= f.file_field :post_images, multiple: true, autofocus: true %>
              </div>
              <div class="field mb-3">
                <%= f.label :本文 %><br>
                <%= f.text_area :body, autofocus: true, class: "form-control" %>
              </div>
              <div class="field mb-3">
                <%= f.label :タグ %><br>
                <%= f.text_field :tag_id, autofocus: true, class: "form-control" %>
              </div>
              <div class="text-center">
                <div class="btn mt-3">
                  <%= f.submit "投稿", class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render "layouts/sideber" %>
    </div>
  </div>
<% end %>
</div>