<div class="container mt-5">
<%= render 'layouts/header' %>
<%= form_with model: [@post, @post_comment] do |f| %>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card text-center">
        <div class="card-header">
          <div class="field mb-3">
            <%= @post.date %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary" %>
          </div>
          <div class="field mb-3">
            <%= @post.title %>
          </div>
        </div>
        <div class="card-body">
          <% @post.post_images.each do |post_image| %>
          <div class="field mb-3">
            <%= image_tag post_image, size: "300x300" %>
          </div>
          <% end %>
          <% unless @post.post_images.attached? %>
            <div class="field mb-3">
              <%= image_tag 'no_image_yoko.jpg', size: "300x300" %>
            </div>
          <% end %>
          <div class="field mb-3">
            <%= @post.body %>
          </div>
          <div class="field mb-3">
            <%= @tags %>
          </div>
          <div class="field mb-3">
            <p>メモ数： <%= @post.post_comments.count %></p>
          </div>
          <% @post.post_comments.each do |comment| %>
          <div class="field mb-3">
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <%= link_to post_post_comment_path(comment.post, comment), method: :delete do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
          <% end %>
          <div class="field mb-3">
            <%= f.text_field :comment %>
            <%= f.submit "送信", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render "layouts/sideber" %>
    </div>
  </div>
<% end %>
</div>