<div class="navbar-brand">
  <%= link_to top_path do %>
    <%= image_tag "korenikki.png", size: "200x200" %>
  <% end %>
</div>
<% if user_signed_in? %>
  <ul class="nav flex-column">
    <li class="nav-item mb-2 text-center">
      <%= link_to "About", root_path, class: 'nav-link text-secondary' %>
    </li>
    <li class="nav-item mb-2 text-center">
      <%= link_to "æ–°è¦æŠ•ç¨¿", new_post_path, class: 'nav-link text-secondary' %>
    </li>
    <li class="nav-item mb-2 text-center">
      <%= link_to "æŠ•ç¨¿ä¸€è¦§", posts_path, class: 'nav-link text-secondary' %>
    </li>
     <li class="nav-item mb-2 text-center">
      <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete , class: 'nav-link text-secondary'%>
    </li>
  </ul>
  <div class="card text-center">
    <div class="card-header">
      <div class="field">
        <p>ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«</p>
        <% if current_user.email != "guest@example.com" %>
          <%= link_to users_mypage_edit_path do %>
            <i class="fa-solid fa-user-pen"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class="field">
        <%= image_tag current_user.get_profile_image, size: "50x50", class: "user-icon" %>
      </div>
      <div class="field">
        <%= current_user.name %>
      </div>
    </div>
    </div>
  <%= form_with url: search_path, method: :get do  |f| %>
    <div class="search_form mt-5">
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['æ—¥ä»˜'],['ã‚¿ã‚¤ãƒˆãƒ«'],['æœ¬æ–‡'],['ã‚¿ã‚°']]) %>
      <%= f.submit 'æ¤œç´¢', class: "btn-sm btn-primary" %>
    </div>
<% if tag_lists.present? %>
  <% tag_lists.each do |tag| %>
    <div class="tag_lists">
      <i class="fa-solid fa-tag"></i>
      <%= link_to tag.name,search_tag_path(tag_id: tag.id), class: "text-secondary" %>
      <%= "(#{tag.posts.count})" %>
    </div>
  <% end %>
<% end %>
    <div class="calendar mt-5">
        <%= month_calendar posts: @posts do |date, posts| %>
          <%= date.day %>
          <% posts.each do |post| %>
          <% if post.present? %>
            <%= link_to "ðŸœ", posts_path(post) %>
          <% end %>
          <% end %>
        <% end %>
      </div>
  <% end %>
<% else %>
  <ul class="nav flex-column">
    <li class="nav-item mb-2 text-center">
      <%= link_to "About", root_path, class: 'nav-link text-secondary' %>
    </li>
    <li class="nav-item mb-2 text-center">
      <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: 'nav-link text-secondary' %>
    </li>
    <li class="nav-item mb-2 text-center">
      <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: 'nav-link text-secondary' %>
    </li>
  </ul>
<% end %>
